*/node_modules

# Terraform
.terraform
*.tfstate
*.tfstate.backup
.terraform.tfstate
.terraform.tfstate.backup

.vscode
.DS_Store

.env
backend/.env
backend/.env.*
MobileSOSApp/src/config/keys.ts
MobileSOSApp/android/app/google-services.json
*.jks
*.keystore
*.p12
*.pem
*.key
*.tfvars
